<% title @team.display_name + ' - Edit' %>

<div class="span6 offset3 well well-small">

  <%= form_for @team, :html => {class: 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :name %>
          <span class="add-on">
            <% tmp = @team.dup; tmp.name = nil -%>
            <%= help_tip "If left blank, the name will default to \"#{tmp.display_name}\"" %>
          </span>
        </div>
      </div>
    </div>
    <% disabled = @team.period.keep_updated -%>
    <% locked_text = 'This attribute is only editable through sitrack, since this coaching period is marked for updating.' -%>
    <div class="control-group">
      <%= f.label :city, class: 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :city, :disabled => disabled %>
          <% if disabled -%>
            <span class="add-on">
              <%= image_tag 'icons/silk/error.png', title: locked_text %>
            </span>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :state, class: 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :state, :disabled => disabled %>
          <% if disabled -%>
            <span class="add-on">
              <%= image_tag 'icons/silk/error.png', title: locked_text %>
            </span>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :country, class: 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :country, :disabled => disabled %>
          <% if disabled -%>
            <span class="add-on">
              <%= image_tag 'icons/silk/error.png', title: locked_text %>
            </span>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :continent, class: 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :continent, :disabled => disabled %>
          <% if disabled -%>
            <span class="add-on">
              <%= image_tag 'icons/silk/error.png', title: locked_text %>
            </span>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

</div>
