<%= page_header "Team - " + @team.name %>
<%= flash_header %>

<div class="grid_4">
	<h2>Description</h2>
	<table class="description">
		<tr>
			<td>Team Name</td>
			<td><%= @team.name %></td>
		</tr>
		<tr>
			<td>Coaching Period</td>
			<td><%= link_to_if @team.period.can_view?(@user), @team.period.name, @team.period %></td>
		</tr>
		<tr>
			<td>Leader Name</td>
			<td>
				<% if @team.leader_name and !@team.leader_name.blank? %>
					<%= @team.leader_name %>
				<% else -%>
					<i>None</i>
				<% end -%>
			</td>
		</tr>
	</table>
	<% if !@team.period.keep_updated and @team.can_edit?(@user) -%>
		<%= link_to 'Edit', edit_team_url(@team) %>
	<% end -%>
</div>

<div class="grid_8">
	<h2 width="100%" align="center">Team Members</h2>
	<% if @team.members.nil? or @team.members.count == 0 -%>
		<i>None</i>
	<% else -%>
		<% if @team.can_view_list?(@user) -%>
			<%= link_to 'Detailed listing', list_team_url(@team) %>
			<br>
			<br>
		<% end -%>

		<ul>
			<% for a in @team.assignments.sort_by{ |a| [a.user.last_name, a.user.first_name]} -%>
				<li>
					<%= link_to_if a.can_view?(@user), a.user.display_name, a %>
					<% if @team.can_edit?(@user) and a.can_edit?(@user) -%>
						<%= link_to image_tag('icons/silk/delete.png'), team_assignment_url(a), method: :delete, data: { confirm: 'Are you sure you want to remove this team member?' } %>
					<% end -%>
				</li>
			<% end -%>
		</ul>
	<% end -%>
	<% if @team.can_edit?(@user) -%>
		<%= form_for @new_assn, :url => create_team_assignments_url do |f| -%>
			<%= f.hidden_field :period_id %>
			<%= f.hidden_field :team_id %>
			<%= f.hidden_field :user_id %>
			<%= autocomplete_field 'auto', 'name', autocomplete_users_url, :id_element => '#assignment_user_id', :size => 12 %>
			<%= f.submit 'Add Member' %>
		<% end -%>
	<% end -%>
</div>

<div class="clear"></div>
