<%= form_for :login, :html => {:action => login_path} do |f| %>
	<%= print_flashes %>
	<table class='description'>
		<tr>
			<td><%= f.label :id %></td>
			<td><%= f.text_field :id %></td>
		</tr>
	</table>
	<%= submit_tag 'Submit' %>
<% end %>
