<%= page_header "Coaching Group - " + @group.name %>

<div class="grid_4">
	<h2>Description</h2>
	<table class="description">
		<tr>
			<td>Group Name</td>
			<td><%= @group.name %></td>
		</tr>
		<tr>
			<td>Coaching Period</td>
			<td><%= link_to @group.period.name, period_path(@group.period) %></td>
		</tr>
	</table>
	<%= link_to 'Edit', edit_group_path(@group) %>

	<br>
	<br>

	<h2>Coaches</h2>
	<% if @group.coaches.nil? or @group.coaches.count == 0 -%>
		<i>None</i>
	<% else -%>
		<ul>
			<% for c in @group.group_coaches.sort_by{ |c| [c.user.last_name, c.user.first_name]} -%>
				<li>
					<%= link_to c.user.display_name, user_path(c.user) %>
					<%= link_to image_tag('icons/silk/delete.png'), url_for(:action => 'destroy_coach', :id => c.id), method: :delete, data: { confirm: 'Are you sure you want to remove this coach?' } %>
				</li>
			<% end -%>
			TODO: New
		</ul>
	<% end %>
</div>

<div class="grid_8">
	<h2 width="100%" align="center">Group Members</h2>
	<% if @group.members.nil? or @group.members.count == 0 -%>
		<i>None</i>
	<% else -%>
		<ul>
			<% for m in @group.members -%>
				<li><%= link_to m.display_name, user_path(m) %></li>
			<% end -%>
		</ul>
	<% end %>
</div>

<div class="clear"></div>
