<% title @assignment.user.display_name + ' - Assignment' %>

<div class="span4">
<div class="well well-small">
  <h3>Details</h3>
  <table class="mytable">
    <tr>
      <th>User</th>
      <td>
        <%= link_to_if @assignment.user.can_view?(@cas_user), @assignment.user.display_name, @assignment.user %>
      </td>
    </tr>
    <% if @assignment.intern_type -%>
      <tr>
        <th>Intern type</th>
        <td><%= @assignment.intern_type %></td>
      </tr>
    <% end -%>
    <tr>
      <th>Team</th>
      <td>
        <% if @assignment.team.nil? -%>
          <i>None</i>
        <% else -%>
          <%= link_to_if @assignment.team.can_view?(@cas_user), @assignment.team.display_name, @assignment.team %>
        <% end -%>
      </td>
    </tr>
    <tr>
      <th>Coaching Group</th>
      <td>
        <% if @assignment.group.nil? -%>
          <i>None</i>
        <% else -%>
          <%= link_to_if @assignment.group.can_view?(@cas_user), @assignment.group.display_name, @assignment.group %>
        <% end -%>
      </td>
    </tr>
    <% for goal in @assignment.goals -%>
      <tr>
        <th><%= goal.title %> goal</th>
        <td><%= number_to_currency goal.amount %></td>
      </tr>
    <% end -%>
  </table>
  <% if @assignment.can_edit?(@cas_user) -%>
    <%= link_to 'Edit', edit_assignment_path(@assignment), class: 'btn' %>
    <% if !@assignment.period.keep_updated? -%>
      <%= link_to 'Delete', @assignment, method: 'delete', confirm: 'Are you sure you want to delete this assignment and all related pledges and reports?', class: 'btn btn-danger' %>
    <% end -%>
  <% end -%>

</div>

<% if @assignment.period.bmarks.count > 0 -%>
  <div class="well well-small">
    <h3>Benchmarks</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% for b in @assignment.period.bmarks -%>
          <tr>
            <td><%= b.date.strftime('%b %e') %></td>
            <td><%= b.percentage %>%</td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>

<% if @assignment.can_view_pledges?(@cas_user) and @assignment.goals.count > 0 -%>
  <div class="well well-small">
    <h3>Pledges</h3>
    <%= link_to 'View Pledges', assignment_pledges_path(@assignment) %>
    <br>
    <br>
    <table id='pledgePercent' class="table">
      <thead>
        <tr>
          <td></td>
          <th>In-hand</th>
          <th>With pledged</th>
        </tr>
      </thead>
      <tbody>
        <% for g in @assignment.goals -%>
          <tr>
            <th><%= g.title %></th>
            <td><%= @assignment.goal_inhand_pct(g.frequency) %>%</td>
            <td><%= @assignment.goal_total_pct(g.frequency) %>%</td>
          </tr>
        <% end -%>
        <% if @assignment.goals.count > 1 -%>
          <tr>
            <th>Combined</th>
            <td><%= @assignment.combined_inhand_pct %>%</td>
            <td><%= @assignment.combined_total_pct %>%</td>
          </tr>
        <% end -%>
      </thead>
    </table>
  </div>
<% end -%>

</div>

<div class="span8 well well-small">
  <h3>Reports</h3>
  <table>
    <tr>
      <td><%= link_to 'New Report', new_assignment_report_path(@assignment), class: 'btn' if @assignment.can_edit_reports?(@cas_user) %></td>
      <td><%= link_to 'Report Details', list_assignment_reports_path(@assignment), class: 'btn' if @assignment.reports.count > 0 %></td>
    </tr>
  </table>

  <% if @assignment.reports.count > 0 -%>
    <table id='reportsTable' class="table">
      <thead>
        <tr>
          <td></td>
          <% for g in @assignment.goals -%>
            <th><%= g.title %> in-hand</th>
            <th><%= g.title %> pledged</th>
          <% end -%>
        </tr>
      </thead>
      <tbody>
        <% for r in @assignment.reports.reverse -%>
          <tr>
            <th>
              <%= link_to r.date.strftime('%b %e'), r %>
              <% if r.can_delete?(@cas_user) -%>
                <%= link_to image_tag('icons/silk/delete.png'), r,
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this report?' } %>
              <% end -%>
            </th>
            <% for g in @assignment.goals -%>
              <% if l = r.goal_lines.find_by_frequency(g.frequency) -%>
                <td><%= Goal.pct(l.inhand, @assignment.goal_amt(g.frequency)) %>%</td>
                <td><%= Goal.pct(l.inhand + l.pledged, @assignment.goal_amt(g.frequency)) %>%</td>
              <% end -%>
            <% end -%>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% else -%>
    <i>None</i>
  <% end -%>

</div>
