<%= page_header @assignment.user.display_name + ' - ' + @assignment.period.name %>
<%= flash_header %>

<div class="grid_4">
	<h2>Details</h2>
	<table class="description">
		<tr>
			<td>User</td>
			<td><%= link_to_if @assignment.user.can_view?(@user), @assignment.user.display_name, @assignment.user %>
		</tr>
		<tr>
			<td>Team</td>
			<td>
				<% if @assignment.team.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.team.can_view?(@user), @assignment.team.name, @assignment.team %>
				<% end -%>
			</td>
		</tr>
		<tr>
			<td>Coaching Group</td>
			<td>
				<% if @assignment.group.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.group.can_view?(@user), @assignment.group.name, @assignment.group %>
				<% end -%>
			</td>
		</tr>
		<% for goal in @assignment.goals -%>
			<tr>
				<td><%= goal.title %> goal</td>
				<td><%= goal.amount %></td>
			</tr>
		<% end -%>
	</table>
	<% if @assignment.can_edit?(@user) -%>
		<%= link_to 'Edit', edit_assignment_url(@assignment) %>
	<% end -%>
	
	<br>
	<br>
	<% if @assignment.can_view_pledges?(@user) -%>
		<h3>Progress</h3>
		<%= link_to 'View Pledges', assignment_pledges_url(@assignment) %><br>
		<%= render :partial => 'pledges/progress_size4' %>
	<% end -%>

</div>

<div class='grid_8'>
	<% if @assignment.reports.count > 1 -%>

		<% for g in @assignment.goals -%>
			<div align=center><%= g.title %> Goal (%)</div>
			<div id='goal_<%= g.id %>_history' style="width:620px;height:100px"></div>
			<script>
				$(document).ready(function() {
					var r = Raphael('goal_<%= g.id %>_history');
<%
x = Array.new
index = 0
y1 = Array.new
y2 = Array.new
for r in @assignment.reports.reverse
	if l = r.goal_lines.find_by_frequency(g.frequency)
		x << index
		y1 << Goal.pct(l.inhand, g.amount)
		y2 << Goal.pct(l.pledged + l.inhand, g.amount)
	end
	index = index + 1
end
%>
					r.linechart(20,10,600,80, <%= x %>, [<%= y1 %>,<%= y2 %>], {shade: true, axis: '0 0 0 1'} );
				});
			</script>
		<% end -%>
	<% end -%>
	<% if @assignment.reports.count > 0 -%>

		<table class='description'>
		  <tr>
				<th>Report</th>
				<% for g in @assignment.goals -%>
					<th><%= g.title %> in-hand</th>
					<th><%= g.title %> pledged</th>
				<% end -%>
				<th>
		  </tr>
			<% @assignment.reports.each do |report| -%>
				<tr>
					<td>
						<%= link_to report.created_at.strftime('%b %e, %Y'), report %>
						<% if report.updated_at -%>
							<i>Updated <%= report.updated_at.strftime('%b %e, %Y') %></i>
						<% end -%>
					</td>
					<% for g in @assignment.goals -%>
						<td><%= report.goal_lines.find_by_frequency(g.frequency).inhand || '' %></td>
						<td><%= report.goal_lines.find_by_frequency(g.frequency).pledged || '' %></td>
					<% end -%>				
				</tr>
			<% end -%>
		</table>
	<% end -%>

	<%= link_to 'New Report', new_assignment_report_path(@assignment) %>
</div>

<div class="clear"></div>
