<%= page_header @assignment.user.display_name + ' - ' + @assignment.period.name %>
<%= flash_header %>

<div class="grid_4">
	<h2>Details</h2>
	<table class="description">
		<tr>
			<td>User</td>
			<td><%= link_to_if @assignment.user.can_view?(@user), @assignment.user.display_name, @assignment.user %>
		</tr>
		<tr>
			<td>Team</td>
			<td>
				<% if @assignment.team.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.team.can_view?(@user), @assignment.team.name, @assignment.team %>
				<% end -%>
			</td>
		</tr>
		<tr>
			<td>Coaching Group</td>
			<td>
				<% if @assignment.group.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.group.can_view?(@user), @assignment.group.name, @assignment.group %>
				<% end -%>
			</td>
		</tr>
		<% for goal in @assignment.goals -%>
			<tr>
				<td><%= goal.title %> goal</td>
				<td><%= goal.amount %></td>
			</tr>
		<% end -%>
	</table>
	<% if @assignment.can_edit?(@user) -%>
		<%= link_to 'Edit', edit_assignment_url(@assignment) %>
	<% end -%>
	
	<br>
	<br>
	<% if @assignment.can_view_pledges?(@user) -%>
		<h3>Pledges</h3>
		<%= link_to 'View Pledges', assignment_pledges_url(@assignment) %><br>
		<%= render :partial => 'pledges/progress_size4' %>
	<% end -%>

</div>

<div class='grid_8'>
	<h2>Reports</h2>
	<table>
		<tr>
			<td><%= button_to 'New Report', new_assignment_report_path(@assignment), :method => :get if @assignment.can_edit_reports?(@user) %></td>
			<td><%= button_to 'Report Details', list_assignment_reports_path(@assignment) if @assignment.reports.count > 0 %></td>
		</tr>
	</table>

	<% if @assignment.reports.count > 0 -%>
		<table id='reportsTable' class='description'>
			<tr>
				<td></td>
				<% for g in @assignment.goals -%>
					<th><%= g.title %> in-hand</th>
					<th><%= g.title %> pledged</th>
				<% end -%>
			</tr>
			<% for r in @assignment.reports.reverse -%>
				<tr>
					<th>
						<%= link_to r.created_at.strftime('%b %e'), r %>
					</th>
					<% for g in @assignment.goals -%>
						<% if l = r.goal_lines.find_by_frequency(g.frequency) -%>
							<td><%= Goal.pct(l.inhand, @assignment.goal_amt(g.frequency)) %></td>
							<td><%= Goal.pct(l.pledged, @assignment.goal_amt(g.frequency)) %></td>
						<% end -%>
					<% end -%>
				</tr>
			<% end -%>
		</table>
		<% if @assignment.reports.count > 1 -%>
			<script>
				$(document).ready(function() {
					$('#reportsTable').visualize({type: 'line', height:'150px', parseDirection:'y'});
				});
			</script>
			<br>
			<br>
			<br>
		<% end -%>
	<% end -%>

</div>


<div class="clear"></div>
