<%= page_header @assignment.user.display_name + ' - ' + @assignment.period.name %>
<%= flash_header %>

<div class="grid_4">
	<h2>Details</h2>
	<table class="description">
		<tr>
			<td>User</td>
			<td><%= link_to_if @assignment.user.can_view?(@sso), @assignment.user.display_name, @assignment.user %>
		</tr>
		<tr>
			<td>Team</td>
			<td>
				<% if @assignment.team.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.team.can_view?(@sso), @assignment.team.name, @assignment.team %>
				<% end -%>
			</td>
		</tr>
		<tr>
			<td>Coaching Group</td>
			<td>
				<% if @assignment.group.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.group.can_view?(@sso), @assignment.group.name, @assignment.group %>
				<% end -%>
			</td>
		</tr>
		<% for goal in @assignment.goals -%>
			<tr>
				<td><%= goal.title %> goal</td>
				<td><%= goal.amount %></td>
			</tr>
		<% end -%>
	</table>
	<% if @assignment.can_edit?(@sso) -%>
		<%= link_to 'Edit', edit_assignment_url(@assignment) %>
	<% end -%>
	
	<br>
	<br>
	<% if @assignment.can_view_pledges?(@sso) -%>
		<h3>Progress</h3>
		<%= link_to 'View Pledges', assignment_pledges_url(@assignment) %><br>
		<%= render :partial => 'pledges/progress_size4' %>
	<% end -%>

</div>

<div class='grid_8'>
<h2>Reports</h2>
<%= link_to 'All', assignment_reports_url(@assignment) %>
</div>

<div class="clear"></div>
