<%= page_header @assignment.user.display_name + ' - Assignment' %>
<%= flash_header %>

<div class="grid_4">
	<!-- Details -->
	<h2>Details</h2>
	<table class="description">
		<tr>
			<td>User</td>
			<td><%= link_to_if @assignment.user.can_view?(@cas_user), @assignment.user.display_name, @assignment.user %>
		</tr>
		<tr>
			<td>Team</td>
			<td>
				<% if @assignment.team.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.team.can_view?(@cas_user), @assignment.team.name, @assignment.team %>
				<% end -%>
			</td>
		</tr>
		<tr>
			<td>Coaching Group</td>
			<td>
				<% if @assignment.group.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.group.can_view?(@cas_user), @assignment.group.name, @assignment.group %>
				<% end -%>
			</td>
		</tr>
		<% for goal in @assignment.goals -%>
			<tr>
				<td><%= goal.title %> goal</td>
				<td><%= goal.amount %></td>
			</tr>
		<% end -%>
	</table>
	<% if @assignment.can_edit?(@cas_user) -%>
		<%= link_to 'Edit', edit_assignment_url(@assignment) %>
	<% end -%>
	
	<br>
	<br>
	
	<% if @assignment.period.bmarks.count > 0 -%>
		<!-- Benchmarks -->
		<h2>Benchmarks</h2>
		<table class='description'>
			<tr>
				<th>Date</th>
				<th>Amount</th>
			</tr>
			<% for b in @assignment.period.bmarks -%>
				<tr>
					<td><%= b.date.strftime('%b %e') %></td>
					<td style='text-align:right;'><%= b.percentage %>%</td>
				</tr>
			<% end -%>
		</table>
	<% end -%>

	<% if @assignment.can_view_pledges?(@cas_user) -%>
		<!-- Pledges -->
		<h3>Pledges</h3>
		<%= link_to 'View/Edit Pledges', assignment_pledges_url(@assignment) %>
		<br>
		<br>
		<br>
		<div width=100% style='padding-left:25px'>
		<table id='pledgePercent' style='display:none;' width='250px'>
			<tr>
				<td style='text-align:right;'><i>Percentages</i></td>
				<th>In-hand</th>
				<th>With pledged</th>
			</tr>
			<% for g in @assignment.goals -%>
				<tr>
					<th><%= g.title %> %</th>
					<td><%= @assignment.goal_inhand_pct(g.frequency) %></td>
					<td><%= @assignment.goal_total_pct(g.frequency) %></td>
				</tr>
			<% end -%>
			<% if @assignment.goals.count > 1 -%>
				<tr>
					<th>Combined %</th>
					<td><%= @assignment.combined_inhand_pct %></td>
					<td><%= @assignment.combined_total_pct %></td>
				</tr>
			<% end -%>
		</table>
		<br>
		<br>
		<br>
		</div>
		<script>
			$(document).ready(function() {
				$('#pledgePercent').visualize({type:'bar', parseDirection:'y', height:'100px'});
			});
		</script>
	<% end -%>
	
</div>

<div class='grid_8'>
	<h2>Reports</h2>
	<table>
		<tr>
			<td><%= button_to 'New Report', new_assignment_report_path(@assignment), :method => :get if @assignment.can_edit_reports?(@cas_user) %></td>
			<td><%= button_to 'Report Details', list_assignment_reports_path(@assignment) if @assignment.reports.count > 0 %></td>
		</tr>
	</table>

	<% if @assignment.reports.count > 0 -%>
		<table id='reportsTable' class='description'>
			<tr>
				<td></td>
				<% for g in @assignment.goals -%>
					<th><%= g.title %> in-hand</th>
					<th><%= g.title %> pledged</th>
				<% end -%>
			</tr>
			<% for r in @assignment.reports.reverse -%>
				<tr>
					<th>
						<%= link_to r.date.strftime('%b %e'), r %>
					</th>
					<% for g in @assignment.goals -%>
						<% if l = r.goal_lines.find_by_frequency(g.frequency) -%>
							<td><%= Goal.pct(l.inhand, @assignment.goal_amt(g.frequency)) %></td>
							<td><%= Goal.pct(l.inhand + l.pledged, @assignment.goal_amt(g.frequency)) %></td>
						<% end -%>
					<% end -%>
				</tr>
			<% end -%>
		</table>
		<% if @assignment.reports.count > 1 -%>
			<script>
				$(document).ready(function() {
					$('#reportsTable').visualize({type: 'bar', height:'150px', parseDirection:'y'});
				});
			</script>
			<br>
			<br>
			<br>
		<% end -%>
	<% end -%>

</div>


<div class="clear"></div>
