<%= page_header @assignment.user.display_name + ' - ' + @assignment.period.name %>
<%= flash_header %>

<div class="grid_6 prefix_3 suffix_3">
	<%= form_for @assignment do |f| %>
		Monthly goal: <%= f.text_field :monthly_goal, :size => 4 %>
		<br>
		One-time goal: <%= f.text_field :onetime_goal, :size => 4 %>
		<br>

		<% teams_array = [['None', 0]].concat( @assignment.period.teams.map { |t| [t.name, t.id] }) -%>
		Team: <%= f.select :team_id, options_for_select(teams_array, @assignment.team_id) %>
		<br>
		<% groups_array = [['None', 0]].concat( @assignment.period.groups.map { |t| [t.name, t.id] }) -%>
		Coaching group: <%= f.select :group_id, options_for_select(groups_array, @assignment.group_id) %>
		<br>
		<%= f.submit 'Save changes' %>
	<% end -%>
</div>
<div class="clear"</div>
