<%= page_header @assignment.user.display_name + ' - ' + @assignment.period.name %>
<%= flash_header %>

<div class="grid_4">
	<h2>Details</h2>
	<table class="description">
		<tr>
			<td>User</td>
			<td><%= link_to_if @assignment.user.can_view?(@sso), @assignment.user.display_name, @assignment.user %>
		</tr>
		<tr>
			<td>Team</td>
			<td>
				<% if @assignment.team.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.team.can_view?(@sso), @assignment.team.name, @assignment.team %>
				<% end -%>
			</td>
		</tr>
		<tr>
			<td>Coaching Group</td>
			<td>
				<% if @assignment.group.nil? -%>
					<i>None</i>
				<% else -%>
					<%= link_to_if @assignment.group.can_view?(@sso), @assignment.group.name, @assignment.group %>
				<% end -%>
			</td>
		</tr>
	</table>
	<% if @assignment.can_edit?(@sso) -%>
		<%= link_to 'Edit', edit_assignment_url(@assignment) %>
	<% end -%>
	
	<br>
	<br>

	<h2>Reports</h2>
	<%= link_to 'All', assignment_reports_url(@assignment) %>
</div>

<div class="grid_8">
	<table width="100%" class='description'>
		<tr>
			<td colspan=5>
				<h2 align="center">Pledges</h2>
			</td>
		</tr>
		<tr>
			<th>Name</th>
			<th width=1%>Amount</th>
			<th width=1%>Frequency</th>
			<th width=1%>In-Hand</th>
			<% if @assignment.can_edit?(@sso) -%>
				<th width=1%>Delete</th>
			<% end -%>
		</tr>
		<%= render :partial => 'pledge', :collection => @assignment.pledges.sort_by{|p| [p.name, p.frequency]} %>
		<% if @assignment.can_edit?(@sso) -%>
			<tr>
				<td colspan=5 width="100%">
					<div align='center'>
						<br>
						<h3>New Pledge</h3>
						<%= form_for @new_pledge, :url => assignment_pledges_url(@assignment) do |f| -%>
							<table class='description'>
								<tr>
									<td>Name</td>
									<td><%= f.text_field :name %></td>
								</tr>
								<tr>
									<td>Amount</td>
									<td><%= f.text_field :amount, :size => 4 %></td>
								</tr>
								<tr>
									<td>In-Hand</td>
									<td><%= f.check_box :is_in_hand %></td>
								</tr>
								<tr>
									<td>Frequency</td>
									<td>
										<% freq_array = @assignment.goals.map{|g| [Goal.title(g.frequency), g.frequency]} -%>
										<%= f.select :frequency, options_for_select(freq_array) %>
									</td>
								</tr>
							</table>
							<%= f.submit 'Add pledge' %>
						<% end -%>
					</div>
				</td>
			</tr>
		<% end -%>
	</table>
</div>

<div class="clear"></div>
