<table class='description' width='100%'>
	<tr>
		<td><i>Totals</i></td>
		<th>Goal</th>
		<th>In-hand</th>
		<th>Pledged</th>
	</tr>
	<% for g in @assignment.goals -%>
		<tr>
			<th><%= g.title %></th>
			<td><%= g.amount %></td>
			<td><%= @assignment.goal_inhand(g.frequency) %></td>
			<td><%= @assignment.goal_pledged(g.frequency) %></td>
		</tr>
	<% end -%>
</table>
<div width=100% style='padding-left:25px'>
<table id='pledgePercent' class='description' width='250px'>
	<tr>
		<td><i>Percentages</i></td>
		<th>In-hand</th>
		<th>With pledged</th>
	</tr>
	<% for g in @assignment.goals -%>
		<tr>
			<th><%= g.title %></th>
			<td><%= @assignment.goal_inhand_pct(g.frequency) %></td>
			<td><%= @assignment.goal_total_pct(g.frequency) %></td>
		</tr>
	<% end -%>
</table>
<br>
<br>
<br>
</div>
<script>
	$(document).ready(function() {
		$('#pledgePercent').visualize({type:'bar', parseDirection:'y', height:'100px'});
	});
</script>
