<table class="table">
  <thead>
    <tr>
      <td><i>Totals</i></td>
      <th>Goal</th>
      <th>In-hand</th>
      <th>Pledged</th>
    </tr>
  </thead>
  <tbody>
    <% for g in @assignment.goals -%>
      <tr>
        <th><%= g.title %></th>
        <td><%= number_to_currency g.amount %></td>
        <td><%= number_to_currency @assignment.goal_inhand(g.frequency) %></td>
        <td><%= number_to_currency @assignment.goal_pledged(g.frequency) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% if true or (@assignment.goals.any? and @assignment.goals.select{|g| g.amount and g.amount > 0}.any?) -%>
<table class="table">
  <thead>
    <tr>
      <td><i>Percentages</i></td>
      <th>In-hand</th>
      <th>With pledged</th>
    </tr>
  </thead>
  <tbody>
    <% for g in @assignment.goals -%>
      <tr>
        <th><%= g.title %></th>
        <% if g.amount and g.amount > 0 -%>
          <td><%= @assignment.goal_inhand_pct(g.frequency) %>%</td>
          <td><%= @assignment.goal_total_pct(g.frequency) %>%</td>
        <% else -%>
          <td></td>
          <td></td>
        <% end -%>
      </tr>
    <% end -%>
    <% if @assignment.goals.count > 1 -%>
      <tr>
        <th>Combined</th>
        <td><%= view_pct @assignment.combined_inhand_pct %></td>
        <td><%= view_pct @assignment.combined_total_pct %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<% end -%>
