<table class="table">
  <thead>
    <tr>
      <td><i>Totals</i></td>
      <th>Goal</th>
      <th>In-hand</th>
      <th>Pledged</th>
    </tr>
  </thead>
  <tbody>
    <% for g in @assignment.goals -%>
      <tr>
        <th><%= g.title %></th>
        <td><%= number_to_currency g.amount %></td>
        <td><%= number_to_currency @assignment.goal_inhand(g.frequency) %></td>
        <td><%= number_to_currency @assignment.goal_pledged(g.frequency) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <td><i>Percentages</i></td>
      <th>In-hand</th>
      <th>With pledged</th>
    </tr>
  </thead>
  <tbody>
    <% for g in @assignment.goals -%>
      <tr>
        <th><%= g.title %></th>
        <td><%= @assignment.goal_inhand_pct(g.frequency) %>%</td>
        <td><%= @assignment.goal_total_pct(g.frequency) %>%</td>
      </tr>
    <% end -%>
    <% if @assignment.goals.count > 1 -%>
      <tr>
        <th>Combined</th>
        <td><%= @assignment.combined_inhand_pct %>%</td>
        <td><%= @assignment.combined_total_pct %>%</td>
      </tr>
    <% end -%>
  </tbody>
</table>
