<%= page_header	@assignment.user.display_name + ' - ' + @assignment.period.name + ' Pledges' do -%>
<%= link_to_if @assignment.user.can_view?(@user), @assignment.user.display_name, @assignment.user %>
-
<%= link_to @assignment.period.name, @assignment %>
Pledges
<% end -%>

<%= flash_header %>

<div class="grid_4">
	<h3>Progress</h3>
	<%= render :partial => 'progress_size4' %>
	
	<% if @assignment.can_edit_pledges?(@user) -%>
		<br>
		<br>
		<h3>New Pledge</h3>
		<%= form_for @new_pledge, :url => assignment_pledges_url(@assignment) do |f| -%>
			<table class='description'>
				<tr>
					<td>Name</td>
					<td><%= f.text_field :name, :size => 15 %></td>
				</tr>
				<tr>
					<td>Amount</td>
					<td><%= f.text_field :amount, :size => 4 %></td>
				</tr>
				<tr>
					<td>In-Hand</td>
					<td><%= f.check_box :is_in_hand %></td>
				</tr>
				<tr>
					<td>Frequency</td>
					<td>
						<% freq_array = @assignment.goals.map{|g| [g.title, g.frequency]} -%>
						<%= f.select :frequency, options_for_select(freq_array) %>
					</td>
				</tr>
			</table>
			<%= f.submit 'Add pledge' %>
		<% end -%>
	<% end -%>
</div>

<div class="grid_8">
	<table width="100%" class='description'>
		<tr>
			<th>Name</th>
			<th width=1%>Amount</th>
			<th width=1%>Frequency</th>
			<th width=1%>In-Hand</th>
			<% if @assignment.can_edit?(@user) -%>
				<th width=1%>Delete</th>
			<% end -%>
		</tr>
		<%= render :partial => 'pledge', :collection => @assignment.pledges.sort_by{|p| [p.name, p.frequency]} %>
	</table>
</div>

<div class="clear"></div>
