<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assignment_id %><br />
    <%= f.number_field :assignment_id %>
  </div>
  <div class="field">
    <%= f.label :monthly_inhand %><br />
    <%= f.text_field :monthly_inhand %>
  </div>
  <div class="field">
    <%= f.label :new_monthly_amt %><br />
    <%= f.text_field :new_monthly_amt %>
  </div>
  <div class="field">
    <%= f.label :new_monthly_count %><br />
    <%= f.number_field :new_monthly_count %>
  </div>
  <div class="field">
    <%= f.label :new_monthly_pledged %><br />
    <%= f.text_field :new_monthly_pledged %>
  </div>
  <div class="field">
    <%= f.label :onetime_inhand %><br />
    <%= f.text_field :onetime_inhand %>
  </div>
  <div class="field">
    <%= f.label :new_onetime_amt %><br />
    <%= f.text_field :new_onetime_amt %>
  </div>
  <div class="field">
    <%= f.label :new_onetime_count %><br />
    <%= f.number_field :new_onetime_count %>
  </div>
  <div class="field">
    <%= f.label :onetime_pledged %><br />
    <%= f.text_field :onetime_pledged %>
  </div>
  <div class="field">
    <%= f.label :account_balance %><br />
    <%= f.text_field :account_balance %>
  </div>
  <div class="field">
    <%= f.label :num_contacts %><br />
    <%= f.number_field :num_contacts %>
  </div>
  <div class="field">
    <%= f.label :new_referrals %><br />
    <%= f.number_field :new_referrals %>
  </div>
  <div class="field">
    <%= f.label :num_phone_dials %><br />
    <%= f.number_field :num_phone_dials %>
  </div>
  <div class="field">
    <%= f.label :num_phone_convos %><br />
    <%= f.number_field :num_phone_convos %>
  </div>
  <div class="field">
    <%= f.label :phone_hours %><br />
    <%= f.text_field :phone_hours %>
  </div>
  <div class="field">
    <%= f.label :num_precall_letters %><br />
    <%= f.number_field :num_precall_letters %>
  </div>
  <div class="field">
    <%= f.label :num_support_letters %><br />
    <%= f.number_field :num_support_letters %>
  </div>
  <div class="field">
    <%= f.label :letter_hours %><br />
    <%= f.text_field :letter_hours %>
  </div>
  <div class="field">
    <%= f.label :mpd_hours %><br />
    <%= f.text_field :mpd_hours %>
  </div>
  <div class="field">
    <%= f.label :had_coach_convo %><br />
    <%= f.text_field :had_coach_convo %>
  </div>
  <div class="field">
    <%= f.label :prayer_requests %><br />
    <%= f.text_area :prayer_requests %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
