<%= flash_header %>

<div class="grid_10 prefix_1 suffix_1" align='center'>
	<%= form_for [@assignment, @report] do |f| %>
	  <% if @report.errors.any? %>
	    <div id="error_explanation" align='left'>
	      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
	      <ul>
					<%# HACK: I can't get rid of the "is invalid" errors -%>
					<% @report.errors.select{|attr, msg| msg != "is invalid"}.each do |attr, msg| -%>
						<li><%= msg %></li>
					<% end -%>
	      </ul>
	    </div>
	  <% end %>

		<table style='description'>
			<% for line in @report.goal_lines -%>
				<%= fields_for "goal_#{line.frequency}", line do |l| %>
					<tr>
						<td><b><%= Goal.title(line.frequency) %> in-hand</b></td>
						<td><%= l.text_field :inhand, :size => 4 %></td>
					</tr>
					<tr>
						<td><b><%= Goal.title(line.frequency) %> pledged</b></td>
						<td><%= l.text_field :pledged, :size => 4 %></td>
					</tr>
				<% end -%>
			<% end -%>

			<tr><td>&nbsp;</td></tr>

			<% for line in @report.field_lines -%>
				<%= fields_for "field_#{line.report_field.id}", line do |l| %>
					<tr>
						<td>
							<% if line.report_field.required -%>
								<b><%= line.report_field.name %></b>
							<% else -%>
								<%= line.report_field.name %>
							<% end -%>
						</td>
						<td>
							<% if line.report_field.is_number? -%>
								<%= l.text_field :value, :size => 4 %>
							<% elsif line.report_field.is_text? -%>
								<%= l.text_area :value, :rows => 5 %>
							<% else -%>
								<%= l.text_field :value %>
							<% end -%>
						</td>
					</tr>
				<% end -%>
			<% end -%>
		</table>

		<%= f.submit %>
		
	<% end %>
</div>
<div class='clear'></div>
