<%= fields_for id, rf do |g| -%>
  <tr id="<%= id %>_row" <%= raw("class=\"error\"") if rf.errors.any? %>>
    <td>
      <%= g.hidden_field :list_index %>
      <a href='javascript:void(0);' onclick="reorder('<%= id %>', 'up');">
        <%= image_tag 'icons/silk/arrow_up.png' %>
      </a>
      <a href='javascript:void(0);' onclick="reorder('<%= id %>', 'down');">
        <%= image_tag 'icons/silk/arrow_down.png' %>
      </a>
    </td>
    <% if id == 'goals' -%>
      <td colspan="5">
        <h4>
          Partners and Goals
          <%= help_tip 'These lines are added automatically for every report.' %>
        </h4>
        <ul>
          <li>Number of Partners</li>
          <li>One-time in-hand</li>
          <li>One-time pledged</li>
          <li>Monthly in-hand</li>
          <li>Monthly pledged</li>
        </ul>
      </td>
    <% else -%>
      <td><%= g.text_field :name, :size => 20 %></td>
      <td><%= check_box id, :remove, :class => 'remove_field_box' %></td>
      <td>
        <% if @period.reports.empty? or rf.new_record? -%>
          <%= g.select :field_type, options_for_select(ReportField.type_array, rf.field_type) %></td>
        <% else -%>
          <%= rf.field_type_pretty %>
        <% end -%>
      <td><%= g.check_box :required %></td>
      <td><%= g.text_area :description, :rows => 2 %></td>
    <% end -%>
  </tr>
<% end -%>
