<%= page_header 'Report Fields (' + @period.name + ')' do %>
Report Fields (<%= link_to @period.name, @period %>)
<% end -%>
<%= flash_header %>

<div class="grid_10 prefix_1 suffix_1">
	<b>NOTE:</b>
	<ul>
		<i>
		<li>Lines are automatically added for goal progress, two for each goal (e.g. "Monthly pledged" and "Monthly in-hand").</li>
		<li>You cannot edit existing fields if a report has already been created for this period, since this could lead to data corruption. If you must make a change, you can delete the field and add it again, but you will lose all information that had been entered for that field.</li>
		</i>
	</ul>
	<%= form_for :fields, :url => update_fields_period_url(@period) do |f| %>
		<table id='fieldsTable' class='tablesorter'>
		<thead>
			<tr>
				<th>Index</th>
				<th>Name</th>
				<th>Delete</th>
				<th>Type</th>
				<th>Required</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<% for rf in @period.report_fields %>
				<%= fields_for "field_#{rf.id}", rf do |g| %>
					<tr>
						<td><%= g.text_field :list_index, :size => 1 %></td>
						<td><%= g.text_field :name, :size => 8 %></td>
						<td><%= check_box "field_#{rf.id}", :remove %></td>
						<td><%= g.select :field_type, options_for_select(ReportField.type_array, rf.field_type) %></td>
						<td><%= g.check_box :required %></td>
						<td><%= g.text_area :description, :rows => 2 %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
		</table>

		<%= f.submit 'Save' %>
		<%= link_to 'Back', @period %>
	<% end %>
</div>

<div class="clear"></div>
