<% title @period.name do -%>
  <% if @period.keep_updated? -%>
Because this period is set to be updated periodically with data from Sitrack, you cannot change things such as team assignments and coaching assignments directly. You must first go to Sitrack and make the changes there, then come back here and click on "Manually Update".
  <% end -%>
<% end -%>

<div class="span4">
<div class="well well-small">
  <h3>Actions</h3>
  <ul>
    <li>
      <%= link_to "Show all people", list_period_path(@period)  %>
      (<%= @period.assignments.active.count %>)
    </li>
    <li>
      <%= link_to "Edit report fields", fields_period_path(@period) %>
      (<%= @period.report_fields.count %>)
    </li>
    <li>
      <%= link_to "Edit benchmarks", benchmarks_period_path(@period) %>
      (<%= @period.bmarks.count %>)
    </li>
    <% if @period.keep_updated? -%>
      <li>
          <%= link_to 'Manually Update', do_update_period_path(@period), method: 'post' %>
          (Last Updated: <%= @period.last_updated ? @period.last_updated.strftime('%B %e, %Y at %I:%M %p') : raw('<i>Never</i>') %>)
      </li>
    <% end -%>
  </ul>

</div>
<div class="well well-small">

  <h3>Administrators</h3>
  <% if @period.admins.nil? or @period.admins.count == 0 -%>
    <i>None</i>
  <% else -%>
    <ul>
      <% for a in @period.period_admins.sort_by{|a| a.user.sort_name} -%>
        <li>
          <%= link_to_if a.user.can_view?(current_user), a.user.display_name, a.user %>
          <% if @period.can_edit?(current_user) -%>
            <%= link_to image_tag('icons/silk/delete.png'), a, method: :delete, data: { confirm: 'Are you sure you want to remove this admin?' } %>
          <% end -%>
        </li>
      <% end -%>
    </ul>
  <% end -%>
  <% if @period.can_edit?(current_user) -%>
    <%= form_for [@period, @new_admin] do |f| -%>
      <%= render :partial => 'users/new', :locals => {
        :name => 'add_admin',
        :title => 'New Admin',
        :commit => 'Add Admin' } %>
    <% end -%>
  <% end -%>
</div>
</div>

<div class="span4 well well-small">
  <h3>Teams</h3>
  <% if @period.teams.active.count == 0 -%>
    <i>None</i>
  <% else -%>
    <ul>
      <% for t in @period.teams.active.sort_by{|t| t.display_name} -%>
        <li>
          <%= link_to t.display_name, t %>
          (<%= pluralize t.assignments.active.count, 'member' %>)
          <% if t.assignments.count == 0 and @period.can_edit?(current_user) and !@period.keep_updated? -%>
            <%= link_to image_tag('icons/silk/delete.png'), t, method: :delete, data: { confirm: 'Are you sure you want to delete this team?' } %>
          <% end -%>
        </li>
      <% end -%>
    </ul>
  <% end -%>
  <% if @period.can_edit?(current_user) and !@period.keep_updated? -%>
    <%= form_for [@period, @new_team] do |f| -%>
      <%= f.text_field :name, :size => 12 %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end -%>
  <% end -%>
</div>

<div class="span4 well well-small">
  <h3>Coaching Groups</h3>
  <% if @period.groups.active.count == 0 -%>
    <i>None</i>
  <% else -%>
    <ul>
      <% for g in @period.groups.active.sort_by{|g| g.display_name} -%>
        <li>
          <%= link_to g.display_name, g %>
          <% if g.coaches.count == 0 -%>
            <%= image_tag 'icons/silk/error.png', title: 'No coach has been assigned to this group.' %>
          <% end -%>
          (<%= pluralize g.assignments.active.count, 'member' %>)
          <% if g.assignments.count == 0 and @period.can_edit?(current_user) and !@period.keep_updated? -%>
            <%= link_to image_tag('icons/silk/delete.png'), g, method: :delete, title: 'Delete', data: { confirm: 'Are you sure you want to delete this group?' } %>
          <% end -%>
        </li>
      <% end -%>
    </ul>
  <% end -%>
  <% if @period.can_edit?(current_user) and !@period.keep_updated? -%>
    <%= form_for [@period, @new_group] do |f| -%>
      <%= f.text_field :name, :size => 12 %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end -%>
  <% end -%>
</div>
