<%= page_header @group.display_name + ' - Edit' %>

<div class="grid_6 prefix_3 suffix_3">

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class='description'>
		<tr>
			<td>
				Name
				<% tmp = @group.dup; tmp.name = nil -%>
				<%= help_tip "If left blank, the name will default to \"#{tmp.display_name}\"" %>
			</td>
			<td><%= f.text_field :name %></td>
		</tr>
		<% disabled = @group.period.keep_updated -%>
		<% if disabled -%>
			<tr>
				<td></td>
				<th>Locked <%= help_tip 'These attributes are only editable via sitrack' %></th>
			</tr>
		<% end -%>
		<tr>
			<td>Coach Name</td>
			<td><%= f.text_field :coach_name, :disabled => disabled %></td>
		</tr>
	</table>
	
	<%= f.submit %>
<% end %>

</div>
<div class="clear"></div>
