<% title @group.display_name + ' - Edit' do -%>
  <% if @group.period.keep_updated? -%>
This group's period is automatically updated with data from Sitrack and thus some of these fields are blocked. If you believe there is an error with one or more of these fields, please notify your regional coordinator.
  <% end -%>
<% end -%>

<div class="span6 offset3 well well-small">

  <%= form_for @group, :html => {class: 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :name %>
          <span class="add-on">
            <% tmp = @group.dup; tmp.name = nil -%>
            <%= help_tip "If left blank, the name will default to \"#{tmp.display_name}\"" %>
          </span>
        </div>
      </div>
    </div>

    <% disabled = @group.period.keep_updated -%>

    <div class="control-group">
      <%= f.label :coach_name, class: 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :coach_name, :disabled => disabled %>
          <% if disabled -%>
            <span class="add-on">
              <%= image_tag 'icons/silk/error.png', title: 'This attribute is updated automatically.' %>
            </span>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', group_path(@group), class: 'btn' %>
      </div>
    </div>
  <% end %>
</div>
