<%= page_header @group.display_name %>
<%= flash_header %>

<div class="grid_4">
	<h2>Description</h2>
	<table class="description">
		<tr>
			<td>Group Name</td>
			<td><%= @group.display_name %></td>
		</tr>
		<tr>
			<td>Coach Name</td>
			<td><%= @group.coach_name %></td>
		</tr>
		<tr>
			<td>Coaching Period</td>
			<td><%= link_to_if @group.period.can_view?(@cas_user), @group.period.name, @group.period %></td>
		</tr>
	</table>
	<% if @group.can_edit?(@cas_user) -%>
		<%= link_to 'Edit', edit_group_url(@group) %>
	<% end -%>

	<br>
	<br>

	<h2>Coaches</h2>
	<% if @group.coaches.nil? or @group.coaches.count == 0 -%>
		<i>None</i>
	<% else -%>
		<ul>
			<% for c in @group.group_coaches.sort_by{|c| c.user.sort_name} -%>
				<li>
					<%= link_to_if c.user.can_view?(@cas_user), c.user.display_name, c.user %>
					<% if @group.can_edit?(@cas_user) -%>
						<%= link_to image_tag('icons/silk/delete.png'), c, method: :delete, data: { confirm: 'Are you sure you want to remove this coach?' } %>
					<% end -%>
				</li>
			<% end -%>
		</ul>
	<% end -%>
	<% if @group.can_edit_coaches?(@cas_user) -%>
		<%= form_for [@group, @new_coach] do |f| -%>
			<%= render :partial => 'users/new', :locals => {
				:name => 'add_coach',
				:title => 'New Coach',
				:commit => 'Add Coach' } %>
		<% end -%>
	<% end -%>
</div>

<div class="grid_8">
	<h2 width="100%" align="center">Group Members</h2>
	<% if @group.members.nil? or @group.members.count == 0 -%>
		<i>None</i>
	<% else -%>
		<% if @group.can_view_list?(@cas_user) -%>
			<%= button_to 'Detailed listing', list_group_url(@group), :method => :get %>
			<br>
		<% end -%>
		<ul>
			<% for a in @group.assignments.sort_by{|a| a.user.sort_name} -%>
				<li>
					<%= link_to_if a.can_view?(@cas_user), a.user.display_name, a %>
					<% if @group.can_edit?(@cas_user) and a.can_edit?(@cas_user) -%>
						<%= link_to image_tag('icons/silk/delete.png'), url_for(:controller => :assignments, :action => :destroy, :id => a.id, :delete => 'group'), :method => :delete, data: { confirm: 'Are you sure you want to remove this group member?' } %>
					<% end -%>
				</li>
			<% end -%>
		</ul>
	<% end %>
	<% if !@group.period.keep_updated and @group.can_edit?(@cas_user) -%>
		<%= form_for @new_assn do |f| -%>
			<%= f.hidden_field :period_id %>
			<%= f.hidden_field :group_id %>
			<%= render :partial => 'users/new', :locals => {
				:name => 'add_member',
				:title => 'New Member',
				:commit => 'Add Member' } %>
		<% end -%>
	<% end -%>
</div>

<div class="clear"></div>
