<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <td><b>First Name</b></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td><b>Preferred Name</b></td>
      <td><%= f.text_field :preferred_name %></td>
    </tr>
    <tr>
      <td><b>Last Name</b></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td><b>Phone Number</b></td>
      <td><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <td><b>Email Address</b></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th colspan=2>
        <%= f.submit %>
      </th>
    </tr>
  </table>
<% end -%>
