<%= form_for @user, :html => {class: 'form-horizontal'} do |f| %>
  <% if @user.errors.any? %>
    <% set_flash_from_block :error do -%>
      <h4><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h4>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end -%>
  <% end -%>

  <% disabled = @user.gets_updated? -%>
  <% locked_text = 'This attribute is updated automatically.' -%>

  <div class="control-group">
    <%= f.label :first_name, class: 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :first_name, :disabled => disabled %>
        <% if disabled -%>
          <span class="add-on">
            <%= image_tag 'icons/silk/error.png', title: locked_text %>
          </span>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :preferred_name, class: 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :preferred_name, :disabled => disabled %>
        <% if disabled -%>
          <span class="add-on">
            <%= image_tag 'icons/silk/error.png', title: locked_text %>
          </span>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, class: 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :last_name, :disabled => disabled %>
        <% if disabled -%>
          <span class="add-on">
            <%= image_tag 'icons/silk/error.png', title: locked_text %>
          </span>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, class: 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :phone, :disabled => disabled %>
        <% if disabled -%>
          <span class="add-on">
            <%= image_tag 'icons/silk/error.png', title: locked_text %>
          </span>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :email, :disabled => disabled %>
        <% if disabled -%>
          <span class="add-on">
            <%= image_tag 'icons/silk/error.png', title: locked_text %>
          </span>
        <% end -%>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :time_zone, class: 'control-label' %>
    <div class="controls">
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    </div>
  </div>

  <% if current_user.is_admin? -%>
    <div class="control-group">
      <%= label_tag :real_user_name, 'Real user', class: 'control-label' %>
      <div class="controls">
        <%= f.hidden_field :real_id %>
        <div class="input-append">
          <%= autocomplete_field 'real_user', 'name', autocomplete_users_path, :id_element => '#user_real_id', :value => (@user.real_user ? @user.real_user.display_name : nil) %>
          <span class="add-on">
            <%= help_tip User.autocomplete_help_tip_text %>
          </span>
        </div>
      </div>
    </div>
  <% end -%>

  <div class="control-group">
    <div class="controls">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', user_path(@user), class: 'btn' %>
    </div>
  </div>
<% end -%>
