<%= hidden_field name, :user_id %>
<table class="table">
  <thead>
    <th colspan="3" style="text-align:center;"><%= title %></th>
  </thead>
  <tbody>
    <tr>
      <td>Existing User</td>
      <td><%= radio_button name, 'new', '0', :checked => true %></td>
      <td><%= autocomplete_field name, :name, autocomplete_users_path, :id_element => "##{name}_user_id", class: 'input-medium' %></td>
    </tr>
    <tr>
      <td>
        New User
        <%= help_tip 'Use their account number' %>
      </td>
      <td><%= radio_button name, 'new', '1' %></td>
      <td><%= text_field name, :account_number, :disabled => true, class: 'input-medium' %></td>
    </tr>
    <tr>
      <th colspan="3" style="text-align:center;">
        <%= submit_tag commit, class: 'btn btn-primary' %>
      </th>
    </tr>
  </tbody>
</table>

<script>
    $("[name='<%= name %>[new]']").click(function() {
      if ($("[name='<%= name %>[new]']:checked").val() == '0')
      {
          $('#<%= name %>_name')[0].disabled = false;
          $('#<%= name %>_account_number')[0].disabled = true;
      }
      else
      {
          $('#<%= name %>_name')[0].disabled = true;
          $('#<%= name %>_account_number')[0].disabled = false;
      }
    });
</script>
