<% title @user.display_name %>

<div class="span4">
	<table class="table">
		<tr>
			<td><b>First Name</b></td>
			<td><%= @user.first_name %></td>
		</tr>
		<% if @user.preferred_name and @user.preferred_name != @user.first_name -%>
			<tr>
				<td><b>Preferred Name</b></td>
				<td><%= @user.preferred_name %></td>
			</tr>
		<% end -%>
		<tr>
			<td><b>Last Name</b></td>
			<td><%= @user.last_name %></td>
		</tr>
		<tr>
			<td><b>Account Number</b></td>
			<td><%= @user.account_number %></td>
		</tr>
		<tr>
			<td><b>Phone Number</b></td>
			<td><%= @user.phone %></td>
		</tr>
		<tr>
			<td><b>Email Address</b></td>
			<td><%= @user.email %></td>
		</tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <% if @user.can_edit?(@cas_user) -%>
      <tr>
        <td><b>Edit</b></td>
        <td><%= button_to 'Edit', edit_user_path(@user), method: 'get', class: 'btn' %></td>
      </tr>
	  <% end -%>
	  <% if @user.can_sudo?(true_user) -%>
      <tr>
        <td><b>Sudo</b> <%= help_tip 'Assume the permissions of this person' %></td>
        <td><%= button_to 'Assume', sudo_user_path(@user), method: 'get', class: 'btn' %></td>
      </tr>
  	<% end -%>
    <% if @cas_user.is_admin? -%>
			<tr>
        <td><b>Admin</b> <%= help_tip 'Grants this user Admin priveleges' %></td>
				<td>
					<% if @user.is_admin? %>
            <%= button_to 'Revoke', toggle_admin_user_path(@user), class: 'btn' %>
					<% else -%>
            <%= button_to 'Grant', toggle_admin_user_path(@user), class: 'btn' %>
					<% end -%>
				</td>
			</tr>
      <tr>
        <td><b>Delete</b></td>
        <td>
          <%= button_to 'Delete',
            @user,
            method: 'delete',
            data: {confirm:
'Are you sure you want to delete this user and all objects dependent on it?
This cannot be undone.'
            },
            class: 'btn'
          %>
        </td>
      </tr>
		<% end -%>
	</table>
</div>

<div class="span8">
	<%= render :partial => 'roles' %>
</div>
