<%= page_header "User - " + @user.display_name %>

<div class="grid_3 suffix_1">
	<table class="description">
		<tr>
			<td>First Name</td>
			<td><%= @user.first_name %></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><%= @user.last_name %></td>
		</tr>
		<tr>
			<td>Account Number</td>
			<td><%= @user.account_number %></td>
		</tr>
		<tr>
			<td>Email Address</td>
			<td><%= @user.email %></td>
		</tr>
	</table>
	<%= link_to "Edit", edit_user_path(@user) %>
</div>

<div class="grid_4">
	<h2>Test</h2>
</div>
<div class="grid_4">
	<h2>Test</h2>
</div>

<div class="clear"></div>
