<%= page_header @user.display_name %>

<div class="grid_4">
	<table class="description">
		<tr>
			<td><b>First Name</b></td>
			<td><%= @user.first_name %></td>
		</tr>
		<% if @user.preferred_name and @user.preferred_name != @user.first_name -%>
			<tr>
				<td><b>Preferred Name</b></td>
				<td><%= @user.preferred_name %></td>
			</tr>
		<% end -%>
		<tr>
			<td><b>Last Name</b></td>
			<td><%= @user.last_name %></td>
		</tr>
		<tr>
			<td><b>Account Number</b></td>
			<td><%= @user.account_number %></td>
		</tr>
		<tr>
			<td><b>Phone Number</b></td>
			<td><%= @user.phone %></td>
		</tr>
		<tr>
			<td><b>Email Address</b></td>
			<td><%= @user.email %></td>
		</tr>
	</table>
	<% if @user.can_edit?(@cas_user) -%>
		<%= link_to 'Edit', edit_user_path(@user) %>
	<% end -%>
</div>

<div class="grid_8">
	<%= render :partial => 'roles' %>
</div>

<div class="clear"></div>
