<div class="grid_8 prefix_2 suffix_2 login_bar">
	<table width="100%">
		<tr>
			<td>
				<% if Rails.env.development? -%>
					<%# Helps my PR a little bit %>
					<%= link_to image_tag('safelogo.png'), root_url %></a>
				<% else -%>
					<%= link_to image_tag('logo.png'), root_url %></a>
				<% end -%>
			</td>
			<td width='100%' style='text-align:right;'>
				<br>
				<% if @cas_user.nil? -%>
					<%= link_to 'Login', @login_url %>
				<% else -%>
					<%= @cas_user.display_name %>
					<br>
					<%= link_to 'My Profile', @cas_user %>
					<br>
					<% if @sudoer %>
						<%= link_to 'Unsudo', unsudo_users_url %> (<i><%= @sudoer.display_name %></i>)
					<% else -%>
						<%= link_to 'Logout', :controller => :home, :action => :logout %>
					<% end -%>
				<% end -%>
			</td>
		</tr>
	</table>
</div>

<div class="clear"></div>
