<div class="grid_10 prefix_1 suffix_1 login_bar">
	<table width="100%">
		<tr>
			<td>
				<%= link_to image_tag("safelogo.png"), root_url %></a>
			</td>
			<td>
				<% if ENV['RAILS_ENV'] == 'production' -%>
					<%= link_to 'Login', CASClient::Frameworks::Rails::Filter.login_url(HomeController) %>
					|
					<%= link_to 'Logout', CASClient::Frameworks::Rails::Filter.logout_url(HomeController) %>
				<% else %>
					<% if @sso.nil? -%>
						<%= link_to 'Log In', login_url %>
					<% else -%>
						<%= @sso.display_name %> |
						<%= link_to 'Log Out', logout_url %>
					<% end -%>
				<% end -%>
			</td>
		</tr>
	</table>
</div>

<div class="clear"></div>

<hr>
<hr>
