<%= form_for :login, :html => {:action => login_path} do |f| %>
	<table class="table">
		<tr>
      <td><%= f.label :user %> <%= help_tip 'Autocomplete: Name (account number)' %></td>
			<td>
				<%= f.hidden_field :id %>
				<%= autocomplete_field 'auto', 'name', autocomplete_users_path, :id_element => '#login_id', :size => 12 %>
			</td>
		</tr>
	</table>
	<%= submit_tag 'Submit' %>
<% end %>

<%= autofocus 'auto_name' %>
