<div class="span8 offset2 well well-small">
  <%= form_for :login, :html => {class: 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :user, class: 'control-label' %>
      <div class="controls">
        <%= f.hidden_field :id %>
        <div class="input-append">
          <%= autocomplete_field 'auto', 'name', autocomplete_users_path, :id_element => '#login_id', :size => 12 %>
          <span class="add-on">
            <%= help_tip User.autocomplete_help_tip_text %>
          </span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Login', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<%= autofocus 'auto_name' %>
