<%= page_header "Team - " + @team.name %>
<%= flash_header %>

<div class="grid_4">
	<h2>Description</h2>
	<table class="description">
		<tr>
			<td>Team Name</td>
			<td><%= @team.name %></td>
		</tr>
		<tr>
			<td>Coaching Period</td>
			<td><%= link_to @team.period.name, period_path(@team.period) %></td>
		</tr>
	</table>
	<%= link_to 'Edit', edit_team_path(@team) %>

	<br>
	<br>

	<h2>Leaders</h2>
	<% if @team.leaders.nil? or @team.leaders.count == 0 -%>
		<i>None</i>
	<% else -%>
		<ul>
			<% for l in @team.team_leaders.sort_by{ |l| [l.user.last_name, l.user.first_name]} -%>
				<li>
					<%= link_to l.user.display_name, user_path(l.user) %>
					<%= link_to image_tag('icons/silk/delete.png'), l, method: :delete, data: { confirm: 'Are you sure you want to remove this team leader?' } %>
				</li>
			<% end -%>
		</ul>
	<% end %>
	<%= form_for [@team, @new_leader] do |f| -%>
		<%= f.text_field :user_id, :size => 12 %>
		<%= f.submit 'Add Leader' %>
	<% end -%>
</div>

<div class="grid_8">
	<h2 width="100%" align="center">Team Members</h2>
	<% if @team.members.nil? or @team.members.count == 0 -%>
		<i>None</i>
	<% else -%>
		<ul>
			<% for a in @team.assignments.sort_by{ |a| [a.user.last_name, a.user.first_name]} -%>
				<li>
					<%= link_to a.user.display_name, a.user %>
					<%= link_to image_tag('icons/silk/delete.png'), team_member_url(a), method: :delete, data: { confirm: 'Are you sure you want to remove this team member?' } %>
				</li>
			<% end -%>
		</ul>
	<% end %>
	<%= form_for :user, :url => team_team_members_url(@team) do |f| -%>
		<%= f.text_field :user_id, :size => 12 %>
		<%= f.submit 'Add Member' %>
	<% end -%>
</div>

<div class="clear"></div>
