<div class="span10 offset1 well well-small">
  <%= form_for :fields, :html => {:id => 'fields_form'} do |f| %>
    <table class="mytable" width="100%">
      <tr>
        <td align="left">
          <table class="mytable">
            <% if @list_type == 'period' -%>
              <tr>
                <td><%= check_box :fields, :show_all, :checked => '1' == (@fields[:show_all] ||= '0') %></td>
                <td>Show All <%= help_tip "Including people who have been marked as 'rejected', 'terminated', etc." %></td>
              </tr>
            <% end -%>
            <% if @list_type != 'reports' -%>
              <tr>
                <td><%= check_box :fields, :intern_type, :checked => '1' == (@fields[:intern_type] ||= '0') %></td>
                <td>Intern Type</td>
              </tr>
              <% if @list_type != 'group' -%>
                <tr>
                  <td><%= check_box :fields, :group, :checked => '1' == (@fields[:group] ||= '0') %></td>
                  <td>Coaching Group</td>
                </tr>
              <% end -%>
              <% if @list_type != 'team' -%>
                <tr>
                  <td><%= check_box :fields, :team, :checked => '1' == (@fields[:team] ||= '0') %></td>
                  <td>Team</td>
                </tr>
              <% end -%>
              <tr><td>&nbsp;</td></tr>
            <% end -%>
            <% goals = @list_type == 'reports' ? @assignment.goals : Goal.defaults -%>
            <tr>
              <th colspan="2">Goals</th>
            </tr>
            <% if goals.count == 0 -%>
              <tr>
                <td colspan="2"><i>None</i></td>
              </tr>
            <% end -%>
            <% for g in goals -%>
              <tr>
                <td colspan="2">
                  <b><%= g.title %></b>
                  <% if @list_type == 'reports' -%>
                    (<%= number_to_currency @assignment.goal_amt(g.frequency) %>)
                  <% else -%>
                    <% name = "#{g.frequency}_goal" -%>
                    <%= check_box :fields, name, :checked => '1' == (@fields[name] ||= '0') %>
                    Goal
                  <% end -%>
                  <ul>
                    <li>
                      <b>In-Hand</b>
                      <% name = "#{g.frequency}_inhand_pct" -%>
                      <%= check_box :fields, name, :checked => '1' == (@fields[name] ||= '0') %>
                      Percent
                      <% name = "#{g.frequency}_inhand_amt" -%>
                      <%= check_box :fields, name, :checked => '1' == (@fields[name] ||= '0') %>
                      Amount
                    </li>
                    <li>
                      <b>Pledged</b>
                      <% name = "#{g.frequency}_pledged_pct" -%>
                      <%= check_box :fields, name, :checked => '1' == (@fields[name] ||= '0') %>
                      Percent
                      <% name = "#{g.frequency}_pledged_amt" -%>
                      <%= check_box :fields, name, :checked => '1' == (@fields[name] ||= '0') %>
                      Amount
                    </li>
                  </ul>
                </td>
              </tr>
            <% end -%>
          </table>
        </td>
        <td align="right">
          <table class="mytable">
            <tr>
              <th colspan=2>Report Fields</th>
            </tr>
            <% if @period.report_fields.count > 0 -%>
              <tr>
                <td>
                  <%= check_box_tag 'selectAllReportFields', '1', false, title: 'Select all' %>
                </td>
              </tr>
              <% for rf in @period.report_fields -%>
                <tr>
                  <td>
                    <% name = "field_#{rf.id}" -%>
                    <%= check_box :fields, name, :checked => '1' == (@fields[name] ||= '0'), class: 'report_field_box' %>
                  </td>
                  <td>
                    <%= rf.name %>
                    <%= help_tip rf.description %>
                  </td>
                </tr>
              <% end -%>
            <% else -%>
              <tr>
                <td><i>None</i></td>
              </tr>
            <% end -%>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center;'>
          <%= f.submit 'View', class: 'btn btn-primary' %>
          <%= f.submit 'Download Excel', class: 'btn btn-success' %>
          <%= f.submit 'Clear', class: 'btn' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<script type='text/javascript'>
  $('#selectAllReportFields').change(function() {
    var val = $(this).is(':checked')
    $('.report_field_box').each( function(index, element) {
      var $this = $(this);
      $this.attr('checked', val == '1');
    });
  });
</script>
