<a
	href="javascript:void(0);"
	onclick="
		$('#sort_column').val('<%= id %>');
		$('#sort_direction').val('<%= direction %>');
		$('#fields_form').submit();
		"
	>
	<%= title %>
	<% if sort -%>
		<% if direction == 'asc' -%>
			<%= image_tag 'icons/silk/arrow_up.png' %>
		<% else -%>
			<%= image_tag 'icons/silk/arrow_down.png' %>
		<% end -%>
	<% end -%>
</a>
