<div class="span8 offset2 well well-small">
  <%= form_for [@assignment, @report], :html => {class: 'form-horizontal report-form'} do |f| %>
    <% if @report.errors.any? %>
      <% set_flash_from_block :error do -%>
        <h4><%= pluralize(@report.errors.count/2, "error") %> prohibited this report from being saved:</h4>
        <ul>
          <%# HACK: I can't get rid of the "is invalid" errors -%>
          <% @report.errors.select{|attr, msg| msg != "is invalid"}.each do |attr, msg| -%>
            <li><%= msg %></li>
          <% end -%>
        </ul>
      <% end -%>
    <% end -%>

    <div class="control-group">
      <%= f.label :date, 'Report Date', class: 'control-label required-label' %>
      <div class="controls">
        <%= f.date_select :date, {}, class: 'input-small' %>
      </div>
    </div>

    <% for line in @report.field_lines.select{|l| l.report_field.list_index < 0}.sort_by{|l| l.report_field.list_index} -%>
      <%= render :partial => 'form_field_line', :locals => {:line => line} %>
    <% end -%>

    <%= fields_for 'partners_line', @report.partners_line do |l| %>
      <div class="control-group">
        <%= l.label :total, 'Number of Partners', class: 'control-label required-label' %>
        <div class="controls">
          <div class="input-append">
            <%= l.text_field :total, class: 'input-small' %>
            <span class="add-on">
              <%= help_tip raw('The total number of partners, including those from whom you have not yet received the support in hand.') %>
            </span>
          </div>
        </div>
      </div>
    <% end -%>

    <% for line in @report.goal_lines -%>
      <%= fields_for "goal_#{line.frequency}", line do |l| %>
        <div class="control-group">
          <%= l.label :inhand, "#{Goal.title(line.frequency)} in-hand", class: 'control-label required-label' %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">$</span>
              <%= l.text_field :inhand, class: 'input-small' %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= l.label :pledged, "#{Goal.title(line.frequency)} pledged", class: 'control-label required-label' %>
          <div class="controls">
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <%= l.text_field :pledged, class: 'input-small' %>
              <span class="add-on">
                <%= help_tip raw('Amount that has been pledged <strong>in addition to</strong> what has already been received.') %>
              </span>
            </div>
          </div>
        </div>
      <% end -%>
    <% end -%>

    <% for line in @report.field_lines.select{|l| l.report_field.list_index > 0}.sort_by{|l| l.report_field.list_index} -%>
      <%= render :partial => 'form_field_line', :locals => {:line => line} %>
    <% end -%>

    <div class="form-actions">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Back', assignment_path(@report.assignment), class: 'btn' %>
    </div>
  <% end %>
</div>
