<div class="span8 offset2 well well-small">
  <%= form_for [@assignment, @report], :html => {class: 'form-horizontal report-form'} do |f| %>
    <% if @report.errors.any? %>
      <% set_flash_from_block :error do -%>
        <h4><%= pluralize(@report.errors.count/2, "error") %> prohibited this report from being saved:</h4>
        <ul>
          <%# HACK: I can't get rid of the "is invalid" errors -%>
          <% @report.errors.select{|attr, msg| msg != "is invalid"}.each do |attr, msg| -%>
            <li><%= msg %></li>
          <% end -%>
        </ul>
      <% end -%>
    <% end -%>

    <div class="control-group">
      <%= f.label :date, 'Report Date', class: 'control-label required-label' %>
      <div class="controls">
        <%= f.date_select :date, {}, class: 'input-small' %>
      </div>
    </div>

    <div class="control-group"></div>

    <% for line in @report.goal_lines -%>
      <%= fields_for "goal_#{line.frequency}", line do |l| %>
        <div class="control-group">
          <%= l.label :inhand, "#{Goal.title(line.frequency)} in-hand", class: 'control-label required-label' %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">$</span>
              <%= l.text_field :inhand, class: 'input-small' %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= l.label :pledged, "#{Goal.title(line.frequency)} pledged", class: 'control-label required-label' %>
          <div class="controls">
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <%= l.text_field :pledged, class: 'input-small' %>
              <span class="add-on">
                <%= help_tip raw('Amount that has been pledged <strong>in addition to</strong> what has already been received.') %>
              </span>
            </div>
          </div>
        </div>
      <% end -%>
    <% end -%>

    <div class="control-group"></div>

    <% for line in @report.field_lines.sort_by{|l| l.report_field.list_index} -%>
      <%= fields_for "field_#{line.report_field.id}", line do |l| %>
        <div class="control-group">
          <%= l.label :value, 
            line.report_field.name, 
            class: (line.report_field.required? ? 'control-label required-label' : 'control-label') %>
          <div class="controls">
            <div class="input-append">
              <% if line.report_field.is_number? -%>
                <%= l.text_field :value, class: 'input-small' %>
              <% elsif line.report_field.is_text? -%>
                <%= l.text_area :value, rows: 2, class: 'input-xlarge' %>
              <% else -%>
                <%= l.text_field :value, class: 'input-medium' %>
              <% end -%>
              <% if line.report_field.description -%>
                <div class="add-on">
                  <%= help_tip line.report_field.description %>
                </div>
              <% end -%>
            </div>
          </div>
        </div>
      <% end -%>
    <% end -%>

    <div class="form-actions">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Back', assignment_path(@report.assignment), class: 'btn' %>
    </div>
  <% end %>
</div>
