<%= fields_for "field_#{line.report_field.id}", line do |l| %>
  <div class="control-group<%= ' error' if line.errors.any? %>">
    <%= l.label :value,
      line.report_field.name,
      class: (line.report_field.required? ? 'control-label required-label' : 'control-label') %>
    <div class="controls">
      <div class="input-append">
        <% if line.report_field.is_number? -%>
          <%= l.text_field :value, class: 'input-small' %>
        <% elsif line.report_field.is_text? -%>
          <%= l.text_area :value, rows: 2, class: 'input-xlarge' %>
        <% else -%>
          <%= l.text_field :value, class: 'input-medium' %>
        <% end -%>
        <% if line.report_field.description -%>
          <div class="add-on">
            <%= help_tip line.report_field.description %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>
