<div class="span8 offset2 well well-small">
  <%= form_for [@assignment, @report], :html => {class: 'form-horizontal report-form'} do |f| %>
    <% if @report.errors.any? %>
      <% set_flash_from_block :error do -%>
        <%# HACK: I can't get rid of the "is invalid" errors -%>
        <% errors = @report.errors.select{|attr, msg| msg != "is invalid"} -%>
        <h4><%= pluralize(errors.count, 'error') %> prohibited this report from being saved:</h4>
        <ul>
          <% errors.each do |attr, msg| -%>
            <li><%= msg %></li>
          <% end -%>
        </ul>
      <% end -%>
    <% end -%>

    <div class="control-group">
      <%= f.label :date, 'Report Date', class: 'control-label required-label' %>
      <div class="controls">
        <%= f.date_select :date, {}, class: 'input-small' %>
      </div>
    </div>

    <% for line in @report.field_lines.select{|l| l.report_field.list_index < 0}.sort_by{|l| l.report_field.list_index} -%>
      <%= render :partial => 'form_field_line', :locals => {:line => line} %>
    <% end -%>

    <div class="control-group">
    </div>

    <%= fields_for 'partners_line', @report.partners_line do |l| %>
      <div class="control-group<%= ' error' if @report.partners_line.errors.any? %>">
        <%= l.label :total, 'Number of Partners', class: 'control-label required-label' %>
        <div class="controls">
          <div class="input-append">
            <%= l.text_field :total, class: 'input-small' %>
            <span class="add-on">
              <%= help_tip raw('<p>The total number of people who have committed to being financial ministry partners</p><p><i>This includes those who have pledged support.</i></p>') %>
            </span>
          </div>
        </div>
      </div>
    <% end -%>

    <% for line in @report.goal_lines -%>
      <%= fields_for "goal_#{line.frequency}", line do |l| %>
        <div class="control-group<%= ' error' if line.errors.select{|attr,msg| attr == :inhand}.any? %>">
          <%= l.label :inhand, "#{Goal.title(line.frequency)} in-hand", class: 'control-label required-label' %>
          <div class="controls">
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <%= l.text_field :inhand, class: 'input-small' %>
              <span class="add-on">
                <%= help_tip raw('<p>Amount of <strong>received</strong> support</p><p><i>This can mean that they have given you their first check and you literally have it in your possession, that they’ve signed up for EFT, or that HQ has received their first month’s gift.</i></p>') %>
              </span>
            </div>
          </div>
        </div>
        <div class="control-group<%= ' error' if line.errors.select{|attr,msg| attr == :pledged}.any? %>">
          <%= l.label :pledged, "#{Goal.title(line.frequency)} pledged", class: 'control-label required-label' %>
          <div class="controls">
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <%= l.text_field :pledged, class: 'input-small' %>
              <span class="add-on">
                <%= help_tip raw('<p>Amount of <strong>verbally committed</strong> support</p><p><i>This means that they have not yet given it to you, set up EFT, or sent in their first check to HQ.</i></p>') %>
              </span>
            </div>
          </div>
        </div>
      <% end -%>
    <% end -%>

    <div class="control-group">
    </div>

    <% for line in @report.field_lines.select{|l| l.report_field.list_index > 0}.sort_by{|l| l.report_field.list_index} -%>
      <%= render :partial => 'form_field_line', :locals => {:line => line} %>
    <% end -%>

    <div class="form-actions">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Back', assignment_path(@report.assignment), class: 'btn' %>
    </div>
  <% end %>
</div>
