<%= page_header @report.assignment.user.display_name + ' - ' + @report.assignment.period.name + ' - Report' %>
<%= flash_header %>

<div class="grid_10 prefix_1 suffix_1" align='center'>
	<table style='description'>
		<% for line in @report.goal_lines -%>
			<tr>
				<td><b><%= Goal.title(line.frequency) %> in-hand</b></td>
				<td><%= line.inhand %></td>
			</tr>
			<tr>
				<td><b><%= Goal.title(line.frequency) %> pledged</b></td>
				<td><%= line.pledged %></td>
			</tr>
		<% end -%>

		<tr><td>&nbsp;</td></tr>

		<% for line in @report.field_lines -%>
			<tr>
				<td><b><%= line.report_field.name %></b></td>
				<td><%= line.value %></td>
			</tr>
		<% end -%>
	</table>

	<%= link_to 'Edit', edit_report_path(@report) %> |
	<%= link_to 'Back', assignment_url(@report.assignment) %>
</div>
<div class='clear'></div>
