<!DOCTYPE html>
<html>
<head>
  <title>MPD - <%= @page_title or params[:controller].to_s.capitalize %></title>
<!-- STYLESHEETS -->
  <%= stylesheet_link_tag    "application", :media => 'all'  %>
  <%= yield :stylesheets %>
<!-- JAVASCRIPTS -->
  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
  <script>
    $(function() {
      $(document).tooltip();  //Enable tooltips for all items with a title
    });
  </script>
<!-- METATAGS -->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row-fluid">
    <%= render :partial => 'shared/login' %>
  </div>
  <div class="row-fluid">
    <%= render :partial => 'shared/breadcrumbs' %>
  </div>
  <div class="row-fluid">
    <%= render :partial => 'shared/page_header' %>
  </div>
  <div class="row-fluid">
    <div class="span6 offset3">
      <%= bootstrap_flash %>
    </div>
  </div>
  <div id="content-row" class="row-fluid">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</div>
</body>
</html>
