<!DOCTYPE html>
<html>
<head>
  <title>MPD - <%= @page_title or params[:controller].to_s.capitalize %></title>
<!-- STYLESHEETS -->
	<%= stylesheet_link_tag    "application", :media => 'all'  %>
	<%= yield :stylesheets %>
<!-- JAVASCRIPTS -->
  <%= javascript_include_tag "application" %>
	<%= yield :javascripts %>
	<script>
		$(function() {
			$(document).tooltip();	//Enable tooltips for all items with a title
		});
	</script>
<!-- METATAGS -->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <%= render :partial => 'shared/login' %>
  </div>
  <div class="row">
	  <%= render :partial => 'shared/breadcrumbs' %>
  </div>
  <div class="row">
	  <%= render :partial => 'shared/page_header' %>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <%= bootstrap_flash %>
    </div>
  </div>
  <div class="row">
	  <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</div>
</body>
</html>
