<!DOCTYPE html>
<html>
<head>
  <title>MPD - <%= @page_title or params[:controller].to_s.capitalize %></title>
<!-- STYLESHEETS -->
	<%= stylesheet_link_tag    "application", :media => 'all'  %>
	<%= yield :stylesheets %>
<!-- JAVASCRIPTS -->
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "jquery" %>
  <%#= javascript_include_tag "jquery_ujs" %>
  <%#= javascript_include_tag "jquery.tipTip" %>
	<% if @javascripts -%>
		<% for script in @javascripts -%>
			<%#= javascript_include_tag script %>
		<% end -%>
	<% end -%>
	<%= yield :javascripts %>
<!-- METATAGS -->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container_12">
	<%= render :partial => 'shared/login' %>
	<%= content_for?(:content) ? yield(:content) : yield %>
</div>
</body>
</html>
