<!DOCTYPE html>
<html>
<head>
  <title>MPD - <%= @page_title or params[:controller].to_s.capitalize %></title>
<!-- STYLESHEETS -->
	<%= stylesheet_link_tag    "application", :media => 'all'  %>
	<%= yield :stylesheets %>
<!-- JAVASCRIPTS -->
  <%= javascript_include_tag "application" %>
	<%= yield :javascripts %>
	<script>
		$(function() {
			$(document).tooltip();	//Enable tooltips for all items with a title
		});
	</script>
<!-- METATAGS -->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container_12">
	<%= render :partial => 'shared/login' %>
	<%= content_for?(:content) ? yield(:content) : yield %>
</div>
</body>
</html>
